node_modules
**/node_modules
.next
**/.next
artifacts/*
!artifacts/therassistant-ehr/
!artifacts/therassistant-ehr/**
lib
scripts
dist
**/dist
.git
.gitignore
.vscode
.canvas
attached_assets
_tmp_*
*.log